aiodns==3.0.0
aiohttp==3.7.4.post0
aiohttp-client-cache==0.6.1
aiosignal==1.3.1
anyio==3.3.0
appdirs==1.4.4
async-timeout==3.0.1
asyncclick==7.1.2.3
attrs==21.2.0
black==22.3.0
blessed==1.19.1
Brotli==1.0.9
cattrs==22.2.0
certifi==2021.5.30
cffi==1.15.1
chardet==4.0.0
charset-normalizer==2.0.4
click==8.1.3
exceptiongroup==1.0.4
frozenlist==1.3.3
gensim==3.8.1
HomeAssistant-API==2.4.0.post2
idna==3.2
imageio==2.19.0
importlib-metadata==4.8.1
imutils==0.5.4
inquirer==3.0.0
isort==5.10.1
itsdangerous==2.1.2
multidict==5.1.0
mypy-extensions==0.4.3
networkx==2.8
numpy==1.22.3
opencv-python==4.5.5.64
packaging==21.3
pathspec==0.9.0
phue==1.1
Pillow==9.1.0
platformdirs==2.5.2
prompt-toolkit==1.0.14
pycares==4.2.2
pycparser==2.21
pycryptodome==3.10.1
pydantic==1.9.0
Pygments==2.10.0
pyparsing==3.0.8
pytesseract==0.3.9
python-dateutil==2.8.2
python-decouple==3.4
python-editor==1.0.4
python-forge==18.6.0
python-kasa==0.4.0.dev3
PyWavelets==1.3.0
readchar==4.0.3
regex==2021.8.28
requests==2.26.0
requests-cache==0.9.7
scikit-image==0.19.2
scipy==1.8.0
simplejson==3.17.5
six==1.16.0
smart-open==5.2.1
sniffio==1.2.0
tifffile==2022.5.4
tinytuya==1.2.7
tomli==2.0.1
tuyapower==0.0.25
typing-extensions==3.10.0.2
url-normalize==1.4.3
urllib3==1.26.6
wcwidth==0.2.5
yarl==1.6.3
zipp==3.5.0
zwave-js-server-python==0.30.0
