aiohttp==3.7.4.post0
aiohue==2.5.1
aioshelly==0.6.4
async-timeout==3.0.1
asyncstdlib==3.9.2
attrs==21.2.0
chardet==4.0.0
idna==3.2
ifaddr==0.1.7
multidict==5.1.0
prompt-toolkit==1.0.14
Pygments==2.9.0
PyInquirer==1.0.3
pyShelly==0.2.24
regex==2021.7.1
six==1.16.0
typing-extensions==3.10.0.0
wcwidth==0.2.5
yarl==1.6.3
zeroconf==0.31.0
