.idea
.vscode
__pycache__
venv/

.coverage
cov.xml

# Auto generated on macOS
.DS_Store

custom_components/test

# Home Assistant config created by script/develop.sh
/config

*.egg-info/

# PyEnv Version File
.python-version

# Visual Studio settings
/.vs

.omx
