colour==0.1.5
colour-science==0.4.2
contourpy==1.0.6
cycler==0.11.0
fonttools==4.38.0
imageio==2.25.1
kiwisolver==1.4.4
matplotlib==3.6.2
numpy==1.24.1
packaging==22.0
pandas==1.5.2
Pillow==9.4.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.7
scipy==1.10.0
six==1.16.0
typing_extensions==4.5.0
