name: Generate support model list

on:
  push:
    branches:
      - master

jobs:
  format:
    name: Generate list
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Cache
        uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: pip-format
      - name: Install dependencies
        run: |
          python -m pip install -r requirements.txt
      - name: Pull again
        run: git pull || true
      - name: Generate file
        run: |
          python3 ${{ github.workspace }}/.github/scripts/supported_models/generate_file.py
      - uses: EndBug/add-and-commit@v7
          with:
            add: 'docs/supported_models.md'
            message: 'Update support model list'