name: Lint

on:
  workflow_dispatch:
  push:
    paths:
      - '**.py'
      - 'uv.lock'
  pull_request:
    paths:
      - '**.py'
      - 'uv.lock'

jobs:
  mypy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Powercalc
        uses: actions/checkout@v6
      - uses: ./.github/workflows/uv-composite-action
      - name: Run MyPy
        run: |
          uv run mypy ./custom_components/powercalc
  ruff:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Powercalc
        uses: actions/checkout@v6
      - uses: ./.github/workflows/uv-composite-action
      - name: Run Ruff
        run: |
          uv run ruff check .
