name: Lint

on:
  push:
    branches: [ main ]
  pull_request:
  workflow_dispatch:

jobs:
  pre-commit:
    runs-on: ubuntu-latest
#    if: github.event_name == 'pull_request' # pre-commit-ci/lite-action only runs here
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v6
      - uses: astral-sh/setup-uv@v6
        with:
          activate-environment: true
      - run: uv sync
      - uses: j178/prek-action@v1
#      - uses: pre-commit-ci/lite-action@v1.1.0
#        if: always()
