name: Release Drafter

on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  update_release_draft:
    name: Update release draft
    runs-on: ubuntu-latest
    steps:
      - name: Create Release
        uses: release-drafter/release-drafter@v5
        with:
          disable-releaser: github.ref != 'refs/heads/main'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - id: last_release
        name: Fetch latest release
        uses: InsonusK/get-latest-release@v1.0.1
        with:
          myToken: ${{ secrets.GITHUB_TOKEN }}
          exclude_types: "release"
          view_top: 1
      - name: Write version file
        run: 'echo ${{ steps.last_release.outputs.tag_name }} > /utils/measure/.VERSION'
      - name: Commit version file
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Update version