name: Test

on:
  workflow_dispatch:
  push:
    paths:
      - '**.py'
  pull_request:
    paths:
      - '**.py'
      - 'uv.lock'

jobs:
  tests:
    runs-on: "ubuntu-latest"
    name: Run tests
    steps:
      - name: Check out code
        uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v6
      - name: Install dependencies
        run: uv sync --group dev
      - name: Prepare test env
        run: bash tests/setup.sh
      - name: Run tests
        run: |
          uv run pytest \
            -qq \
            --timeout=9 \
            --durations=10 \
            --cov custom_components.powercalc \
            --cov-report xml \
            -o console_output_style=count \
            -p no:sugar \
            tests
          uv run coverage lcov
      - name: Upload Coverage Results
        uses: coverallsapp/github-action@v2
        with:
          github-token: ${{ secrets.github_token }}
          path-to-lcov: coverage.lcov
