name: Validate translations

on:
  pull_request:
    paths:
      - custom_components/powercalc/translations/*.json
  workflow_dispatch:

permissions:
  contents: read

jobs:
  validate_translations:
    name: Validate translation files
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.14'
      - name: Validate translation files
        run: python ${{ github.workspace }}/.github/scripts/validate_translations.py
